---
layout: page
permalink: /category/
---

<div class="home">
  {% for category in site.categories %}
    <div class="row">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div class="col-12 bg-info text-uppercase" id="#{{ category_name | slugize }}">
        <h3 class="category-head">{{ category_name }}</h3>
        <a name="{{ category_name | slugize }}"></a>
      </div>

      {% for post in site.categories[category_name] limit:6 %}
        <div class="col-12 article-abstract">
          <h2>{{ post.title }}</h2><div class="float-end"><a href="{{ post.url | prepend: site.baseurl }}">阅读全文</a></div>
          <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
          <div>{{ post.content | split:'<!--break-->' | first }}</div>
        </div>
        <hr>
      {% endfor %}
  </div>
  {% endfor %}
</div>
