---
layout: index
---

<div class="home">
  <div class="row">
    {% for post in site.posts limit:6 %}
      <div class="col-12 article-abstract">
        <a href="{{ post.url | prepend: site.baseurl }}" class="text-decoration-none"><h2>{{ post.title }}</h2></a>
        <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
        <div>{{ post.content | split:'<!--break-->' | first }}</div>
      </div>
      <hr>
    {% endfor %}
  </div>
  <div class="row d-xl-none">
    <h2>發現更多...</h2>
    {% for category in site.categories %}
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div class="col-md-2 card">
        <a href="{{ site.baseurl }}/cat{{ category_name | slugify }}/" class="index-anchor">
          <div class="panel panel-default">
            <img height="100px" src="{{site.baseurl}}/images/{{category_name}}.png" alt="{{category_name}}">
            <div class="panel-body">
              <h3 class="text-uppercase text-primary">{{ category_name | truncate: 25 }}</h3>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
