.article-abstract img {
    height: 180px;
    width: auto;
}

.p-top-70 {
    padding-top: 70px !important;
}

.navbar>.container-fluid {
    justify-content: center;
}

.has-vivid-green-cyan-color {
    color: springgreen;
}

.has-vivid-red-color {
    color: palevioletred;
}

.has-vivid-purple-color {
    color: mediumpurple;
}

.wp-block-quote {
    margin: 20px 0 30px;
    padding-left: 20px;
    border-left: 5px solid #1371b8;
    background-color: azure;
}

.float-nav {
    width: 10%;
}

.post-content {
    table {
        border-collapse: collapse;
        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #999;
        }

        img {
            height: 270px;
            width: auto;
        }
    }
}

.folded-corner {
    position: relative;
  }
  
  .folded-corner:before {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: grey grey #fff #fff;
    rotate: 270deg;
    background-color: white;
  }