.article-abstract img {
    height: 180px;
    width: auto;
}

.p-top-70 {
    padding-top: 70px !important;
}

.navbar>.container-fluid {
    justify-content: center;
}

.has-vivid-green-cyan-color {
    color: springgreen;
}

.has-vivid-red-color {
    color: palevioletred;
}

.has-vivid-purple-color {
    color: mediumpurple;
}

.wp-block-quote {
    margin: 20px 0 30px;
    padding-left: 20px;
    border-left: 5px solid #1371b8;
    background-color: azure;
}

.float-nav {
    width: 10%;
}