---
layout: page
---
<div class="home">
    <div class="row">
        {% assign category_name = page.cat %}
        {% for post in site.categories[category_name] %}
        <div class="col-12 article-abstract">
          <a href="{{ post.url | prepend: site.baseurl }}" class="text-decoration-none"><h2>{{ post.title }}</h2></a>
          <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
          <div>{{ post.content | split:'<!--break-->' | first }}</div>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
